@model ArticleReviewSystem.Models.Review
<html>
<body>
    <div id="page_1">
        <p class="p0 ft0">REFERENCE REPORT FORM</p>
        <p class="p1 ft0">[THIS PART WILL NOT BE SENT TO AUTHOR(S)]</p>
        <p class="p2 ft0">I. ABOUT REVIEWER</p>
        <p class="p3 ft0">Name and surname:</p>
        <p class="p4 ft0">Place of work:</p>
        <p class="p5 ft0">Degree:</p>
        <p class="p6 ft0"><nobr>e-mail:</nobr></p>
        <p class="p7 ft0">Additional information</p>
    </div>
    <div id="page_2">


        <p class="p8 ft0">REFERENCE REPORT FORM</p>
        <p class="p9 ft0">[THIS PART WILL BE SENT TO AUTHOR(S)]</p>
        <p class="p10 ft0">II. OVERVIEW</p>
        <table cellpadding="0" cellspacing="0" class="t0">
            <tbody>
                <tr>
                    <td colspan="3" class="tr0 td0"><p class="p11 ft0">SCOPE</p></td>
                    <td colspan="3" class="tr0 td1"><p class="p12 ft0">ILLUSTRATIONS</p></td>
                </tr>
                <tr>
                    <td class="tr1 td2"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td3"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td4"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td5"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td6"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td7"><p class="p13 ft1">&nbsp;</p></td>
                </tr>
                <tr>
                    <td class="tr0 td8"><p class="p12 ft2">[</p></td>
                    <td class="tr0 td9"><p class="p14 ft0">]</p></td>
                    <td class="tr0 td10"><p class="p15 ft0">Of general relevance</p></td>
                    <td class="tr0 td11"><p class="p12 ft0">[</p></td>
                    <td class="tr0 td12"><p class="p16 ft0">]</p></td>
                    <td class="tr0 td13"><p class="p12 ft0">Adequate</p></td>
                </tr>
                <tr>
                    <td class="tr2 td2"><p class="p13 ft3">&nbsp;</p></td>
                    <td class="tr2 td14"><p class="p13 ft3">&nbsp;</p></td>
                    <td class="tr2 td4"><p class="p13 ft3">&nbsp;</p></td>
                    <td class="tr2 td5"><p class="p13 ft3">&nbsp;</p></td>
                    <td class="tr2 td15"><p class="p13 ft3">&nbsp;</p></td>
                    <td class="tr2 td7"><p class="p13 ft3">&nbsp;</p></td>
                </tr>
                <tr>
                    <td class="tr0 td8"><p class="p12 ft2">[</p></td>
                    <td class="tr0 td9"><p class="p14 ft0">]</p></td>
                    <td class="tr0 td10"><p class="p15 ft0">Relevant to the field of DSP</p></td>
                    <td class="tr0 td11"><p class="p12 ft0">[</p></td>
                    <td class="tr0 td12"><p class="p16 ft0">]</p></td>
                    <td class="tr0 td13"><p class="p12 ft0">Inadequate technical quality</p></td>
                </tr>
                <tr>
                    <td class="tr1 td2"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td14"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td4"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td5"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td15"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td7"><p class="p13 ft1">&nbsp;</p></td>
                </tr>
                <tr>
                    <td class="tr3 td8"><p class="p12 ft2">[</p></td>
                    <td class="tr3 td9"><p class="p14 ft0">]</p></td>
                    <td class="tr3 td10"><p class="p15 ft0">Very specialised</p></td>
                    <td class="tr3 td11"><p class="p12 ft0">[</p></td>
                    <td class="tr3 td12"><p class="p16 ft0">]</p></td>
                    <td class="tr3 td13"><p class="p12 ft0">Non very informative</p></td>
                </tr>
                <tr>
                    <td class="tr1 td2"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td14"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td4"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td5"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td15"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td7"><p class="p13 ft1">&nbsp;</p></td>
                </tr>
                <tr>
                    <td class="tr0 td8"><p class="p12 ft2">[</p></td>
                    <td class="tr0 td9"><p class="p14 ft0">]</p></td>
                    <td class="tr0 td10"><p class="p15 ft0">Out of scope</p></td>
                    <td class="tr0 td11"><p class="p12 ft0">[</p></td>
                    <td class="tr0 td12"><p class="p16 ft0">]</p></td>
                    <td class="tr0 td13"><p class="p12 ft0">Some may be omitted (see Sec. III):</p></td>
                </tr>
                <tr>
                    <td colspan="2" class="tr2 td16"><p class="p13 ft3">&nbsp;</p></td>
                    <td class="tr2 td4"><p class="p13 ft3">&nbsp;</p></td>
                    <td class="tr2 td5"><p class="p13 ft3">&nbsp;</p></td>
                    <td class="tr2 td15"><p class="p13 ft3">&nbsp;</p></td>
                    <td class="tr2 td7"><p class="p13 ft3">&nbsp;</p></td>
                </tr>
                <tr>
                    <td colspan="3" class="tr0 td17"><p class="p11 ft0">CONTENT</p></td>
                    <td class="tr0 td11"><p class="p12 ft0">[</p></td>
                    <td class="tr0 td12"><p class="p16 ft0">]</p></td>
                    <td class="tr0 td13"><p class="p12 ft0">More should be added (see Sec. III)</p></td>
                </tr>
                <tr>
                    <td class="tr1 td2"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td3"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td4"><p class="p13 ft1">&nbsp;</p></td>
                    <td colspan="2" class="tr1 td14"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td7"><p class="p13 ft1">&nbsp;</p></td>
                </tr>
                <tr>
                    <td class="tr0 td8"><p class="p12 ft2">[</p></td>
                    <td class="tr0 td9"><p class="p14 ft0">]</p></td>
                    <td class="tr0 td10"><p class="p15 ft0">New technique or theory</p></td>
                    <td colspan="3" class="tr0 td18"><p class="p12 ft0">TABLES</p></td>
                </tr>
                <tr>
                    <td class="tr2 td2"><p class="p13 ft3">&nbsp;</p></td>
                    <td class="tr2 td14"><p class="p13 ft3">&nbsp;</p></td>
                    <td class="tr2 td4"><p class="p13 ft3">&nbsp;</p></td>
                    <td class="tr2 td5"><p class="p13 ft3">&nbsp;</p></td>
                    <td class="tr2 td6"><p class="p13 ft3">&nbsp;</p></td>
                    <td class="tr2 td7"><p class="p13 ft3">&nbsp;</p></td>
                </tr>
                <tr>
                    <td class="tr0 td8"><p class="p12 ft2">[</p></td>
                    <td class="tr0 td9"><p class="p14 ft0">]</p></td>
                    <td class="tr0 td10"><p class="p15 ft0">New application of known concepts</p></td>
                    <td class="tr0 td11"><p class="p12 ft0">[</p></td>
                    <td class="tr0 td12"><p class="p16 ft0">]</p></td>
                    <td class="tr0 td13"><p class="p12 ft0">Adequate</p></td>
                </tr>
                <tr>
                    <td class="tr1 td2"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td14"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td4"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td5"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td15"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td7"><p class="p13 ft1">&nbsp;</p></td>
                </tr>
                <tr>
                    <td class="tr3 td8"><p class="p12 ft2">[</p></td>
                    <td class="tr3 td9"><p class="p14 ft0">]</p></td>
                    <td class="tr3 td10"><p class="p15 ft0">Confirmation of known techniques</p></td>
                    <td class="tr3 td11"><p class="p12 ft0">[</p></td>
                    <td class="tr3 td12"><p class="p16 ft0">]</p></td>
                    <td class="tr3 td13"><p class="p12 ft0">Should be rearranged to improve clarity</p></td>
                </tr>
                <tr>
                    <td class="tr1 td2"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td14"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td4"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td5"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td15"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td7"><p class="p13 ft1">&nbsp;</p></td>
                </tr>
                <tr>
                    <td class="tr0 td8"><p class="p12 ft2">[</p></td>
                    <td class="tr0 td9"><p class="p14 ft0">]</p></td>
                    <td class="tr0 td10"><p class="p15 ft0">Repetition of known material</p></td>
                    <td class="tr0 td11"><p class="p12 ft0">[</p></td>
                    <td class="tr0 td12"><p class="p16 ft0">]</p></td>
                    <td class="tr0 td13"><p class="p12 ft0">Some may be omitted:</p></td>
                </tr>
                <tr>
                    <td class="tr2 td2"><p class="p13 ft3">&nbsp;</p></td>
                    <td class="tr2 td14"><p class="p13 ft3">&nbsp;</p></td>
                    <td class="tr2 td4"><p class="p13 ft3">&nbsp;</p></td>
                    <td class="tr2 td5"><p class="p13 ft3">&nbsp;</p></td>
                    <td class="tr2 td15"><p class="p13 ft3">&nbsp;</p></td>
                    <td class="tr2 td7"><p class="p13 ft3">&nbsp;</p></td>
                </tr>
                <tr>
                    <td class="tr0 td8"><p class="p12 ft2">[</p></td>
                    <td class="tr0 td9"><p class="p14 ft0">]</p></td>
                    <td class="tr0 td10"><p class="p15 ft0">Too speculative or theoretical</p></td>
                    <td class="tr0 td11"><p class="p12 ft0">[</p></td>
                    <td class="tr0 td12"><p class="p16 ft0">]</p></td>
                    <td class="tr0 td13"><p class="p12 ft0">More should be added (see Sec. III)</p></td>
                </tr>
                <tr>
                    <td class="tr1 td2"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td14"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td4"><p class="p13 ft1">&nbsp;</p></td>
                    <td colspan="2" class="tr1 td14"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td7"><p class="p13 ft1">&nbsp;</p></td>
                </tr>
                <tr>
                    <td class="tr0 td8"><p class="p12 ft2">[</p></td>
                    <td class="tr0 td9"><p class="p14 ft0">]</p></td>
                    <td class="tr0 td10"><p class="p15 ft0">Too technical</p></td>
                    <td colspan="3" class="tr0 td18"><p class="p12 ft0">ABBREVIATIONS, FORMULAE, UNITS</p></td>
                </tr>
                <tr>
                    <td class="tr2 td2"><p class="p13 ft3">&nbsp;</p></td>
                    <td class="tr2 td14"><p class="p13 ft3">&nbsp;</p></td>
                    <td class="tr2 td4"><p class="p13 ft3">&nbsp;</p></td>
                    <td class="tr2 td5"><p class="p13 ft3">&nbsp;</p></td>
                    <td class="tr2 td6"><p class="p13 ft3">&nbsp;</p></td>
                    <td class="tr2 td7"><p class="p13 ft3">&nbsp;</p></td>
                </tr>
                <tr>
                    <td class="tr0 td8"><p class="p12 ft2">[</p></td>
                    <td class="tr0 td9"><p class="p14 ft0">]</p></td>
                    <td class="tr0 td10"><p class="p15 ft0">Too preliminary</p></td>
                    <td class="tr0 td11"><p class="p12 ft0">[</p></td>
                    <td class="tr0 td12"><p class="p16 ft0">]</p></td>
                    <td class="tr0 td13"><p class="p12 ft0">Conform to accepted norm</p></td>
                </tr>
                <tr>
                    <td colspan="2" class="tr1 td16"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td4"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td5"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td15"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td7"><p class="p13 ft1">&nbsp;</p></td>
                </tr>
                <tr>
                    <td colspan="3" class="tr3 td17"><p class="p11 ft0">CONCLUSION DRAWN</p></td>
                    <td class="tr3 td11"><p class="p12 ft0">[</p></td>
                    <td class="tr3 td12"><p class="p16 ft0">]</p></td>
                    <td class="tr3 td13"><p class="p12 ft0">Should be changed</p></td>
                </tr>
                <tr>
                    <td class="tr1 td2"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td3"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td4"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td5"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td15"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td7"><p class="p13 ft1">&nbsp;</p></td>
                </tr>
                <tr>
                    <td class="tr0 td8"><p class="p12 ft2">[</p></td>
                    <td class="tr0 td9"><p class="p14 ft0">]</p></td>
                    <td class="tr0 td10"><p class="p15 ft0">Adequate</p></td>
                    <td class="tr0 td11"><p class="p12 ft0">[</p></td>
                    <td class="tr0 td12"><p class="p16 ft0">]</p></td>
                    <td class="tr0 td13"><p class="p12 ft0">Should be explained</p></td>
                </tr>
                <tr>
                    <td class="tr1 td2"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td14"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td4"><p class="p13 ft1">&nbsp;</p></td>
                    <td colspan="2" class="tr1 td14"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td7"><p class="p13 ft1">&nbsp;</p></td>
                </tr>
                <tr>
                    <td class="tr3 td8"><p class="p12 ft2">[</p></td>
                    <td class="tr3 td9"><p class="p14 ft0">]</p></td>
                    <td class="tr3 td10"><p class="p15 ft0">Not justified</p></td>
                    <td colspan="3" class="tr3 td18"><p class="p12 ft0">LITERATURE REFERENCES</p></td>
                </tr>
                <tr>
                    <td class="tr1 td2"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td14"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td4"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td5"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td6"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td7"><p class="p13 ft1">&nbsp;</p></td>
                </tr>
                <tr>
                    <td class="tr0 td8"><p class="p12 ft2">[</p></td>
                    <td class="tr0 td9"><p class="p14 ft0">]</p></td>
                    <td class="tr0 td10"><p class="p15 ft0">Suffer from substantial omissions</p></td>
                    <td class="tr0 td11"><p class="p12 ft0">[</p></td>
                    <td class="tr0 td12"><p class="p16 ft0">]</p></td>
                    <td class="tr0 td13"><p class="p12 ft0">Adequate</p></td>
                </tr>
                <tr>
                    <td class="tr2 td2"><p class="p13 ft3">&nbsp;</p></td>
                    <td class="tr2 td14"><p class="p13 ft3">&nbsp;</p></td>
                    <td class="tr2 td4"><p class="p13 ft3">&nbsp;</p></td>
                    <td class="tr2 td5"><p class="p13 ft3">&nbsp;</p></td>
                    <td class="tr2 td15"><p class="p13 ft3">&nbsp;</p></td>
                    <td class="tr2 td7"><p class="p13 ft3">&nbsp;</p></td>
                </tr>
                <tr>
                    <td class="tr0 td8"><p class="p12 ft2">[</p></td>
                    <td class="tr0 td9"><p class="p14 ft0">]</p></td>
                    <td class="tr0 td10"><p class="p15 ft0">Suffer from loose generalisations</p></td>
                    <td class="tr0 td11"><p class="p12 ft0">[</p></td>
                    <td class="tr0 td12"><p class="p16 ft0">]</p></td>
                    <td class="tr0 td13"><p class="p12 ft0">Inadequate</p></td>
                </tr>
                <tr>
                    <td colspan="2" class="tr1 td16"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td4"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td5"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td15"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td7"><p class="p13 ft1">&nbsp;</p></td>
                </tr>
                <tr>
                    <td colspan="3" class="tr3 td17"><p class="p11 ft0">PRESENTATION</p></td>
                    <td class="tr3 td11"><p class="p12 ft0">[</p></td>
                    <td class="tr3 td12"><p class="p16 ft0">]</p></td>
                    <td class="tr3 td13"><p class="p12 ft0">Some may be omitted:</p></td>
                </tr>
                <tr>
                    <td class="tr1 td2"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td3"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td4"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td5"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td15"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td7"><p class="p13 ft1">&nbsp;</p></td>
                </tr>
                <tr>
                    <td class="tr0 td8"><p class="p12 ft2">[</p></td>
                    <td class="tr0 td9"><p class="p14 ft0">]</p></td>
                    <td class="tr0 td10"><p class="p15 ft0">Adequate</p></td>
                    <td class="tr0 td11"><p class="p12 ft0">[</p></td>
                    <td class="tr0 td12"><p class="p16 ft0">]</p></td>
                    <td class="tr0 td13"><p class="p12 ft0">More should be added (see Sec. III)</p></td>
                </tr>
                <tr>
                    <td class="tr1 td2"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td14"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td4"><p class="p13 ft1">&nbsp;</p></td>
                    <td colspan="2" class="tr1 td14"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td7"><p class="p13 ft1">&nbsp;</p></td>
                </tr>
                <tr>
                    <td class="tr3 td8"><p class="p12 ft2">[</p></td>
                    <td class="tr3 td9"><p class="p14 ft0">]</p></td>
                    <td class="tr3 td10"><p class="p15 ft0">Too brief for clarity</p></td>
                    <td colspan="3" class="tr3 td18"><p class="p12 ft0">OVERALL EVALUATION</p></td>
                </tr>
                <tr>
                    <td class="tr1 td2"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td14"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td4"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td5"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td6"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td7"><p class="p13 ft1">&nbsp;</p></td>
                </tr>
                <tr>
                    <td class="tr0 td8"><p class="p12 ft2">[</p></td>
                    <td class="tr0 td9"><p class="p14 ft0">]</p></td>
                    <td class="tr0 td10"><p class="p15 ft0">Too comprehensive, should be</p></td>
                    <td class="tr0 td11"><p class="p12 ft0">[</p></td>
                    <td class="tr0 td12"><p class="p16 ft0">]</p></td>
                    <td class="tr0 td13"><p class="p12 ft0">Excellent</p></td>
                </tr>
                <tr>
                    <td class="tr4 td8"><p class="p13 ft4">&nbsp;</p></td>
                    <td class="tr4 td9"><p class="p13 ft4">&nbsp;</p></td>
                    <td class="tr4 td10"><p class="p15 ft5">shortened</p></td>
                    <td class="tr4 td11"><p class="p13 ft4">&nbsp;</p></td>
                    <td class="tr4 td12"><p class="p13 ft4">&nbsp;</p></td>
                    <td class="tr4 td13"><p class="p13 ft4">&nbsp;</p></td>
                </tr>
                <tr>
                    <td class="tr1 td2"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td14"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td4"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td5"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td15"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td7"><p class="p13 ft1">&nbsp;</p></td>
                </tr>
                <tr>
                    <td class="tr3 td8"><p class="p12 ft2">[</p></td>
                    <td class="tr3 td9"><p class="p14 ft0">]</p></td>
                    <td class="tr3 td10"><p class="p15 ft0">General organisation unsuitable</p></td>
                    <td class="tr3 td11"><p class="p12 ft0">[</p></td>
                    <td class="tr3 td12"><p class="p16 ft0">]</p></td>
                    <td class="tr3 td13"><p class="p12 ft0">Good</p></td>
                </tr>
                <tr>
                    <td class="tr1 td2"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td14"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td4"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td5"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td15"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td7"><p class="p13 ft1">&nbsp;</p></td>
                </tr>
                <tr>
                    <td class="tr0 td8"><p class="p12 ft2">[</p></td>
                    <td class="tr0 td9"><p class="p14 ft0">]</p></td>
                    <td class="tr0 td10"><p class="p15 ft0">Badly written, hardly readable</p></td>
                    <td class="tr0 td11"><p class="p12 ft0">[</p></td>
                    <td class="tr0 td12"><p class="p16 ft0">]</p></td>
                    <td class="tr0 td13"><p class="p12 ft0">Acceptable</p></td>
                </tr>
                <tr>
                    <td class="tr1 td2"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td14"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td4"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td5"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td15"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td7"><p class="p13 ft1">&nbsp;</p></td>
                </tr>
                <tr>
                    <td class="tr3 td8"><p class="p12 ft2">[</p></td>
                    <td class="tr3 td9"><p class="p14 ft0">]</p></td>
                    <td class="tr3 td10"><p class="p15 ft0">Contains irrelevant material</p></td>
                    <td class="tr3 td11"><p class="p12 ft0">[</p></td>
                    <td class="tr3 td12"><p class="p16 ft0">]</p></td>
                    <td class="tr3 td13"><p class="p12 ft0">Poor</p></td>
                </tr>
                <tr>
                    <td colspan="2" class="tr1 td16"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td4"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td5"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td15"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td7"><p class="p13 ft1">&nbsp;</p></td>
                </tr>
                <tr>
                    <td colspan="3" class="tr0 td17"><p class="p11 ft0">LANGUAGE</p></td>
                    <td class="tr0 td11"><p class="p12 ft0">[</p></td>
                    <td class="tr0 td12"><p class="p16 ft0">]</p></td>
                    <td class="tr0 td13"><p class="p12 ft0">Sound, but dull</p></td>
                </tr>
                <tr>
                    <td class="tr2 td2"><p class="p13 ft3">&nbsp;</p></td>
                    <td class="tr2 td3"><p class="p13 ft3">&nbsp;</p></td>
                    <td class="tr2 td4"><p class="p13 ft3">&nbsp;</p></td>
                    <td class="tr2 td5"><p class="p13 ft3">&nbsp;</p></td>
                    <td class="tr2 td15"><p class="p13 ft3">&nbsp;</p></td>
                    <td class="tr2 td7"><p class="p13 ft3">&nbsp;</p></td>
                </tr>
                <tr>
                    <td class="tr0 td8"><p class="p12 ft2">[</p></td>
                    <td class="tr0 td9"><p class="p17 ft0">]</p></td>
                    <td class="tr0 td10"><p class="p15 ft0">Satisfactory</p></td>
                    <td class="tr0 td11"><p class="p12 ft0">[</p></td>
                    <td class="tr0 td12"><p class="p16 ft0">]</p></td>
                    <td class="tr0 td13"><p class="p12 ft0">Without obvious significance</p></td>
                </tr>
                <tr>
                    <td class="tr1 td2"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td14"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td4"><p class="p13 ft1">&nbsp;</p></td>
                    <td colspan="2" class="tr1 td14"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td7"><p class="p13 ft1">&nbsp;</p></td>
                </tr>
                <tr>
                    <td class="tr3 td8"><p class="p12 ft2">[</p></td>
                    <td class="tr3 td9"><p class="p14 ft0">]</p></td>
                    <td class="tr3 td10"><p class="p15 ft0">Needs corrections</p></td>
                    <td colspan="3" class="tr3 td18"><p class="p12 ft0">FINAL RECOMMENDATION</p></td>
                </tr>
                <tr>
                    <td class="tr1 td2"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td14"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td4"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td5"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td6"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td7"><p class="p13 ft1">&nbsp;</p></td>
                </tr>
                <tr>
                    <td class="tr0 td8"><p class="p12 ft2">[</p></td>
                    <td class="tr0 td9"><p class="p14 ft0">]</p></td>
                    <td class="tr0 td10"><p class="p15 ft0">Needs substantial revision or rewriting</p></td>
                    <td class="tr0 td11"><p class="p12 ft0">[</p></td>
                    <td class="tr0 td12"><p class="p16 ft0">]</p></td>
                    <td class="tr0 td13"><p class="p12 ft0">Accept with no changes</p></td>
                </tr>
                <tr>
                    <td colspan="2" class="tr1 td16"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td4"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td5"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td15"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td7"><p class="p13 ft1">&nbsp;</p></td>
                </tr>
                <tr>
                    <td colspan="3" class="tr5 td17"><p class="p11 ft0">ABSTRACT</p></td>
                    <td class="tr5 td11"><p class="p12 ft0">[</p></td>
                    <td class="tr5 td12"><p class="p16 ft0">]</p></td>
                    <td class="tr5 td13"><p class="p12 ft0">Accept after minor revisions (without 2<span class="ft6">nd </span>review)</p></td>
                </tr>
                <tr>
                    <td class="tr6 td2"><p class="p13 ft7">&nbsp;</p></td>
                    <td class="tr6 td3"><p class="p13 ft7">&nbsp;</p></td>
                    <td class="tr6 td4"><p class="p13 ft7">&nbsp;</p></td>
                    <td class="tr6 td5"><p class="p13 ft7">&nbsp;</p></td>
                    <td class="tr6 td15"><p class="p13 ft7">&nbsp;</p></td>
                    <td class="tr6 td7"><p class="p13 ft7">&nbsp;</p></td>
                </tr>
                <tr>
                    <td class="tr0 td8"><p class="p12 ft2">[</p></td>
                    <td class="tr0 td9"><p class="p14 ft0">]</p></td>
                    <td class="tr0 td10"><p class="p15 ft0">Clear and adequate</p></td>
                    <td class="tr0 td11"><p class="p12 ft0">[</p></td>
                    <td class="tr0 td12"><p class="p16 ft0">]</p></td>
                    <td class="tr0 td13"><p class="p12 ft0">Revise and resubmit</p></td>
                </tr>
                <tr>
                    <td class="tr2 td2"><p class="p13 ft3">&nbsp;</p></td>
                    <td class="tr2 td14"><p class="p13 ft3">&nbsp;</p></td>
                    <td class="tr2 td4"><p class="p13 ft3">&nbsp;</p></td>
                    <td class="tr2 td5"><p class="p13 ft3">&nbsp;</p></td>
                    <td class="tr2 td15"><p class="p13 ft3">&nbsp;</p></td>
                    <td class="tr2 td7"><p class="p13 ft3">&nbsp;</p></td>
                </tr>
                <tr>
                    <td class="tr0 td8"><p class="p12 ft2">[</p></td>
                    <td class="tr0 td9"><p class="p14 ft0">]</p></td>
                    <td class="tr0 td10"><p class="p15 ft0">Should be rewritten (or missing)</p></td>
                    <td class="tr0 td11"><p class="p12 ft0">[</p></td>
                    <td class="tr0 td12"><p class="p16 ft0">]</p></td>
                    <td class="tr0 td13"><p class="p12 ft0">Reject</p></td>
                </tr>
                <tr>
                    <td class="tr1 td2"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td14"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td4"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td5"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td15"><p class="p13 ft1">&nbsp;</p></td>
                    <td class="tr1 td7"><p class="p13 ft1">&nbsp;</p></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="page_3">
        <p class="p18 ft0">III. DETAIL COMMENTS [THIS PART WILL BE SENT TO AUTHOR(S)]</p>
        <p class="p19 ft0">Title of article:</p>
    </div>
</body>
</html>