<!doctype html>
<html lang="en">

<body>
    <div class="main">
        <div class="container tim-container" style="max-width:800px; padding-top:100px">
            <h1 class="text-center">Welcome to the Article Review System</h1>
            <p>This is an application created for article creators and reviewers. Creators can easily add new articles and wait for reviewers to judge if those articles are done properly.</p>
            <!--     end extras -->
        </div>
        <div class="space"></div>
        <!-- end container -->
    </div>
    <!-- end main -->
</body>

</html>