@{
    ViewBag.Title = "Successful registration";
}
<h1 class="text-center">Successful registration</h1>
<p>
    Please wait for your account to be authorized. 
    After accepting your account by the admin you will receive an email.
</p>

