@{
	ViewBag.Title = "Forgot Password Confirmation";
}
<div class="container tim-container" style="max-width:800px; padding-top:100px">
	<h1 class="text-center">@ViewBag.Title.</h1>
	<p class="text-center">
		Please check your email to reset your password.
	</p>
</div>
	
