@{
    ViewBag.Title = "Reset password confirmation";
}
<div class="container tim-container" style="max-width:800px; padding-top:100px">
    <h1 class="text-center">@ViewBag.Title.</h1>
    <p class="text-center">
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
